/*
=============== 
Colours
===============
*/
$color-primary: rgb(255, 235, 96);
$color-secondary: rgb(255, 96, 131);
$color-secondary-dark: rgb(183, 68, 93);
$color-tertiary: rgb(0, 4, 60);

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-black: #000;
/*
=============== 
Fonts
===============
*/
$font-lato: 'Lato', sans-serif;
$font-oswald: 'Oswald', sans-serif;

/*
=============== 
Responsive breakpoints
===============
*/
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

/*
=============== 
Others
===============
*/
$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

/*
=============== 
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
}

//Pseudo elements two ::
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: $color-grey-light-1;
  //To use 1px = 1rem
  font-size: 62.5%;
  line-height: 1.5;
  padding: 2rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: $font-oswald;
  letter-spacing: $spacing;
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
  font-weight: 100;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

.section {
  padding-bottom: 7rem;
  height: 700px;
  padding-bottom: 7rem;
  .title {
    text-align: center;
    margin-bottom: 5rem;
  }
}
