/*
=============== 
Colours
===============
*/
$color-primary: #edcb5f;
$color-primary-dark: #d5b756;
$color-primary-dark-1: #bea24c;
$color-primary-dark-2: #a68e43;
$color-primary-dark-3: #8e7a39;
$color-primary-dark-4: #776630;
$color-primary-dark-5: #5f5126;
$color-secondary: #ff6083;
$color-secondary-dark: #b7445d;

$color-tertiary: #00043c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-black: #000;
/*
=============== 
Fonts
===============
*/
$font-lato: 'Lato', sans-serif;
$font-oswald: 'Oswald', sans-serif;

/*
=============== 
Responsive breakpoints
===============
*/

$bp-even-largest: 1420px;
$bp-largest: 1200px;
$bp-large: 1024px;
$bp-medium: 768px;
$bp-small: 480px;
/*
=============== 
Others
===============
*/
$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

/*
=============== 
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
}

//Pseudo elements two ::
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: $color-grey-light-1;
  //To use 1px = 1rem
  font-size: 62.5%;
  line-height: 1.5;
  padding: 2rem;
  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
  @media screen and (max-width: $bp-small) {
    padding: 0;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: $font-oswald;
  letter-spacing: $spacing;
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
  font-weight: 100;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

section {
  margin-bottom: 10rem;
  min-height: 700px;
  .title {
    text-align: center;
  }
}
