.header {
  height: 85vh;
  background-image: url(../assets/header.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 1.5rem;
  padding-left: 2.5rem;
  margin-bottom: 6rem;
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }

  .navbar {
    h2 {
      position: absolute;
    }

    .navbar-toggle {
      display: none;
    }

    @media screen and (max-width: 900px) {
      .nav-header {
        padding: 0;
      }
      .nav-toggle {
        display: none;
      }

      .links {
        display: flex;
      }
      .links a {
        padding: 0;
        margin: 0 0.5rem;
      }
    }
    .navbar-container {
      width: 100%;
      ul {
        @media screen and (max-width: $bp-even-largest) {
          justify-content: flex-end;
        }
        @media screen and (max-width: 1080px) and (min-width: 900px) {
          align-items: flex-end;
          flex-direction: column;
        }
        display: flex;
        justify-content: center;
        font-family: $font-oswald;
        font-weight: 100;
        font-size: 1.6rem;
        text-transform: uppercase;
        li {
          padding: 0 3rem;
          &:after {
            content: '';
            display: block;
            margin: auto;
            height: 3px;
            width: 0px;
            background: transparent;
            transition: width 0.3s ease, background-color 0.3s ease;
          }
          &:hover:after {
            width: 100%;
            background: $color-secondary;
          }
        }
      }
    }
  }
}
