/*
=============== 
Colours
===============
*/
/*
=============== 
Fonts
===============
*/
/*
=============== 
Responsive breakpoints
===============
*/
/*
=============== 
Others
===============
*/
/*
=============== 
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: #f9f7f6;
  font-size: 62.5%;
  line-height: 1.5;
  padding: 2rem; }
  @media only screen and (max-width: 1024px) {
    body {
      font-size: 50%; } }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.75rem; }

h1 {
  font-size: 3rem;
  font-weight: 100; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 0.875rem; }

p {
  margin-bottom: 1.25rem; }

section {
  margin-bottom: 10rem;
  min-height: 700px; }
  section .title {
    text-align: center; }

.header {
  height: 85vh;
  background-image: url(../assets/header.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 1.5rem;
  padding-left: 2.5rem;
  margin-bottom: 6rem; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  .header .navbar h2 {
    position: absolute; }
  .header .navbar .navbar-toggle {
    display: none; }
  @media screen and (max-width: 900px) {
    .header .navbar .nav-header {
      padding: 0; }
    .header .navbar .nav-toggle {
      display: none; }
    .header .navbar .links {
      display: flex; }
    .header .navbar .links a {
      padding: 0;
      margin: 0 0.5rem; } }
  .header .navbar .navbar-container {
    width: 100%; }
    .header .navbar .navbar-container ul {
      display: flex;
      justify-content: center;
      font-family: "Oswald", sans-serif;
      font-weight: 100;
      font-size: 1.6rem;
      text-transform: uppercase; }
      @media screen and (max-width: 1420px) {
        .header .navbar .navbar-container ul {
          justify-content: flex-end; } }
      @media screen and (max-width: 1080px) and (min-width: 900px) {
        .header .navbar .navbar-container ul {
          align-items: flex-end;
          flex-direction: column; } }
      .header .navbar .navbar-container ul li {
        margin: 0 3rem; }
        .header .navbar .navbar-container ul li:after {
          content: '';
          display: block;
          margin: auto;
          height: 3px;
          width: 0px;
          background: transparent;
          transition: width 0.3s ease, background-color 0.3s ease; }
        .header .navbar .navbar-container ul li:hover:after {
          width: 100%;
          background: #ff6083; }

.section-fashion {
  height: 90vh; }
  .section-fashion .title {
    margin-bottom: 5rem; }
  .section-fashion .prev,
  .section-fashion .next {
    align-self: center;
    font-size: 4rem;
    color: #ff6083;
    outline: none;
    border: none;
    background-color: #f9f7f6; }
  .section-fashion .prev:hover svg,
  .section-fashion .next:hover svg {
    cursor: pointer;
    transition: all 0.3s linear;
    color: #b7445d; }
  .section-fashion .slider {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 80%;
    margin: 0 auto; }
    .section-fashion .slider .card {
      margin: 0 1.5rem;
      border-radius: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      top: 0;
      left: 0;
      opacity: 0; }
      .section-fashion .slider .card .img {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        object-fit: cover;
        cursor: pointer; }
      .section-fashion .slider .card:hover .img {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }
      .section-fashion .slider .card.activeSlide {
        animation: opacity 0.3s;
        opacity: 1; }
  .section-fashion .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35vw;
    max-width: 100%;
    height: 86vh;
    z-index: 1010;
    color: #fff;
    border-radius: 0.5rem;
    box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .section-fashion .modal.open {
    display: block; }
  .section-fashion .modal.closed {
    display: none; }
  .section-fashion .text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2rem;
    padding: 0 3rem;
    font-family: "Oswald", sans-serif; }
    .section-fashion .text p {
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 3rem 1.5rem;
      font-size: 1.5rem;
      color: #fff;
      margin-bottom: 4rem;
      border-radius: 0.7rem; }
  .section-fashion .modal-overlay {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }
  .section-fashion .close-container {
    z-index: 9999;
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer; }
    .section-fashion .close-container.closed {
      display: none; }
  .section-fashion .leftright {
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: #ff6083;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in; }
  .section-fashion .rightleft {
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: #ff6083;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in; }
  .section-fashion .close {
    margin: 60px 0 0 5px;
    position: absolute; }
  .section-fashion .close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: #edcb5f; }
  .section-fashion .close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: #edcb5f; }
  .section-fashion .open {
    display: block; }

@keyframes opacity {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

.section-process {
  padding-top: 2rem;
  position: relative; }
  .section-process .title {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 2rem; }
  .section-process .articles {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    display: flex;
    flex-direction: column;
    padding-top: 15rem;
    background: #edcb5f; }
    .section-process .articles article {
      display: flex;
      /* position: relative; */
      align-items: center;
      /* justify-content: center; */
      /* margin-right: 40rem; */
      padding-left: 18rem;
      position: relative;
      margin-bottom: 7rem; }
      .section-process .articles article img {
        order: 1;
        width: 46%;
        min-width: 400px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
      .section-process .articles article .description {
        /* position: absolute; */
        order: 2;
        display: inline-block;
        margin-left: -6%;
        width: 30%;
        padding: 40px;
        border: 2px solid rgba(183, 68, 93, 0.25);
        transition: margin-left 0.5s, border 0.3s; }
        .section-process .articles article .description:hover {
          margin-left: -8%;
          width: 32%;
          border: 2px solid #ff6083;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }
        .section-process .articles article .description:hover p,
        .section-process .articles article .description:hover h4 {
          margin-left: 25%; }
        .section-process .articles article .description p,
        .section-process .articles article .description h4 {
          margin-left: 20%; }
        .section-process .articles article .description p {
          font-size: 0.9rem; }
      .section-process .articles article:nth-child(2n) {
        padding-right: 18rem;
        padding-left: 0;
        justify-content: flex-end; }
        .section-process .articles article:nth-child(2n) img {
          order: 2; }
        .section-process .articles article:nth-child(2n) .description {
          order: 1;
          margin-right: -6%;
          margin-left: 0;
          z-index: 5;
          transition: margin-right 0.5s, border 0.3s; }
          .section-process .articles article:nth-child(2n) .description:hover {
            margin-right: -8%;
            width: 32%;
            border: 2px solid #ff6083;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
          .section-process .articles article:nth-child(2n) .description:hover p,
          .section-process .articles article:nth-child(2n) .description:hover h4 {
            margin-right: 25%; }
          .section-process .articles article:nth-child(2n) .description p,
          .section-process .articles article:nth-child(2n) .description h4 {
            margin-right: 20%;
            margin-left: 0; }
      .section-process .articles article:last-child {
        padding-bottom: 5rem; }

.section-dressmakers .articles {
  display: flex;
  flex: 1 1 0px;
  justify-content: space-evenly;
  padding: 0 5rem;
  font-family: "Oswald", sans-serif;
  margin-top: 6rem; }
  .section-dressmakers .articles article {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5rem;
    width: 33%;
    padding: 3rem 2rem; }
    .section-dressmakers .articles article:hover .image {
      border: 5px solid #b7445d; }
    .section-dressmakers .articles article h3 {
      color: #00043c;
      margin-top: 3rem; }
    .section-dressmakers .articles article h4 {
      color: #b7445d;
      margin-bottom: 2rem; }
    .section-dressmakers .articles article p {
      font-size: 1.1rem;
      align-self: flex-start; }
    .section-dressmakers .articles article .image {
      object-fit: cover;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      border: 5px solid #d5b756;
      z-index: 1;
      transition: all 0.3s; }

footer {
  display: grid;
  font-size: 1rem;
  background-color: #edcb5f;
  font-family: "Lato", sans-serif; }
  footer h4 {
    text-align: center; }
  footer .social,
  footer .newsletter-container,
  footer .contact {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    justify-content: center; }
  footer .social .icons {
    display: flex;
    justify-content: center; }
    footer .social .icons > a:not(:last-child) {
      padding-right: 1rem; }
    footer .social .icons > a {
      max-height: 2rem; }
      footer .social .icons > a svg {
        color: #00043c;
        transition: color 0.5s; }
      footer .social .icons > a:hover svg {
        color: #b7445d; }
  footer .contact {
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif; }
    footer .contact .contact-elements {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 33%; }
      footer .contact .contact-elements .contact-element {
        display: flex;
        align-items: center;
        line-height: 2rem;
        transition: all 0.5s; }
        footer .contact .contact-elements .contact-element:hover {
          color: #b7445d;
          font-weight: 400; }
      footer .contact .contact-elements svg {
        font-size: 1.4rem;
        margin-left: 1rem;
        color: #00043c; }
  footer .newsletter {
    display: flex;
    justify-content: center;
    padding-top: 1.2rem; }
    footer .newsletter input {
      font-family: "Oswald", sans-serif;
      padding: 0.6rem 0.5rem;
      font-size: 1rem;
      width: 20rem; }
    footer .newsletter button {
      outline: none;
      border: none;
      border: 1px solid #333;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      font-size: 1rem;
      cursor: pointer;
      padding: 0.5rem;
      margin-left: 11px;
      background: #00043c;
      color: #edcb5f;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 0;
      transition: all 0.3s; }
      footer .newsletter button:hover {
        background: #b7445d;
        color: #d5b756;
        box-shadow: rgba(237, 203, 95, 0.4) 3px 3px, rgba(166, 142, 67, 0.3) 6px 6px, rgba(142, 122, 57, 0.2) 9px 9px, rgba(119, 102, 48, 0.1) 12px 12px, rgba(95, 81, 38, 0.05) 15px 15px; }
  footer .footer-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1.2rem 0; }
    footer .footer-section .icons {
      font-size: 2rem;
      margin-top: 2rem; }
  footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    grid-row-start: 2;
    text-align: center;
    border-top: 1px solid #f9f7f6;
    margin: 0 30px;
    padding: 8px; }
    footer .copyright svg {
      margin-right: 3px; }
